# Java
target/
*.log
*.class

# Node
node_modules/
dist/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Env
.env
# Stray lockfile created by running npm in the repo root (the real one is in fitness-app-frontend/)
/package-lock.json
